apiVersion: servicecatalog.k8s.io/v1beta1
kind: ServiceInstance
metadata:
  name: importdisk-{{ pvc_name }}
  namespace: {{ namespace }}
spec:
  clusterServiceClassExternalName: dh-import-vm-disk-apb
  clusterServicePlanExternalName: default
  parameters:
    admin_user: {{ user }}
    admin_password: {{ password }}
    pvc_name: {{ pvc_name }}
    url: {{ image_url }}
