apiVersion: template.openshift.io/v1
kind: Template
labels:
  app: kubevirt-linux-runonce
  demo: linux
  template: kubevirt-linux-template
message: linux VM has been created in your project
metadata:
  annotations:
    description: Linux VM
    openshift.io/display-name: Linux VM
    openshift.io/documentation-url: https://docs.openshift.org/latest
    openshift.io/long-description: Linux VM
    openshift.io/provider-display-name: Red Hat, Inc.
    openshift.io/support-url: https://access.redhat.com
  labels:
    kubevirt.io/os: linux
    miq.github.io/kubevirt-is-vm-template: "true"
  name: kubevirt-linux-runonce
objects:
- apiVersion: kubevirt.io/v1alpha1
  kind: OfflineVirtualMachine
  metadata:
    labels:
      demo: linux
      kubevirt-ovm: ovm-${Name}
      kubevirt.io/domain: ${Name}
      kubevirt.io/os: linux
    name: ${Name}
  spec:
    running: true
    selector:
      matchLabels:
        kubevirt-ovm: ovm-${Name}
    template:
      metadata:
        labels:
          kubevirt-ovm: ovm-${Name}
      spec:
        domain:
          cpu:
            cores: 4
          devices:
            disks:
            - disk:
                bus: virtio
              name: disk0
              volumeName: disk0-pvc
          machine:
            type: q35
          resources:
            requests:
              memory: $\{\{Memory\}\}
        volumes:
        - name: disk0-pvc
          persistentVolumeClaim:
            claimName: linux
- apiVersion: v1
  kind: Service
  metadata:
    labels:
      kubevirt.io/domain: ${Name}
    name: ssh-${Name}
  spec:
    ports:
    - name: ssh
      port: 22
    selector:
      kubevirt.io/domain: ${Name}
    type: NodePort
- apiVersion: v1
  kind: Service
  metadata:
    name: http-${Name}
  spec:
    ports:
    - name: http
      port: 80
    selector:
      kubevirt.io/domain: ${Name}
- apiVersion: route.openshift.io/v1
  kind: Route
  metadata:
    name: http-${Name}
  spec:
    port:
      targetPort: http
    to:
      kind: Service
      name: http-${Name}
      weight: 100
    wildcardPolicy: None
parameters:
- description: Name for the new VM
  name: Name
- description: Amount of memory
  name: Memory
  value: 8192Mi
- description: Amount of cores
  name: Cpu_cores
  value: "4"
